.app__cards{
    // background-color: blue;
    width: 100px;
    height: 200px;
    margin: 5px;
    
    
}

.front{
    background: white;
    // position: absolute;
    // top: 0;
    // left: 0;

    .card{
    height: 200px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    
    display: flex;
    align-items: space-between;
    flex-direction: column;
    
    .top-item{
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 5px;
      height: 50px;
    }
    
    .center{
      flex: 3;
      display: flex;
      justify-content: center;
      // align-items: center;
      
      .rank{
        font-size: 5rem;
      }
    }
    
    .bottom-item{
      flex: 1;
      margin: 5px;
      display:flex;
      // justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
    }
    
  }
}